[submodule "HagiwoClockMultiDivide"]
	path = HagiwoClockMultiDivide
	url = https://github.com/fablabnk/HagiwoClockMultiDivide.git
[submodule "DaisyDelayHardware"]
	path = DaisyDelayHardware
	url = https://github.com/fablabnk/DaisyDelayHardware.git
[submodule "EuroAvalanche"]
	path = EuroAvalanche
	url = https://github.com/fablabnk/EuroAvalanche.git
[submodule "EuroTubeScreamer"]
	path = EuroTubeScreamer
	url = https://github.com/fablabnk/EuroTubeScreamer.git
[submodule "VaseProtoPlugin"]
	path = VaseProtoPlugin
	url = https://github.com/fablabnk/VaseProtoPlugin.git
[submodule "vcv_daisypatch"]
	path = vcv_daisypatch
	url = https://github.com/fablabnk/vcv_daisypatch.git
[submodule "PhaserPedal"]
	path = PhaserPedal
	url = https://github.com/fablabnk/PhaserPedal
[submodule "EurorackKicadTemplates"]
	path = EurorackKicadTemplates
	url = https://github.com/fablabnk/EurorackKicadTemplates
[submodule "HagiwoMixer"]
	path = HagiwoMixer
	url = https://github.com/fablabnk/HagiwoMixer
[submodule "KiCadCircuitSimulation"]
	path = KiCadCircuitSimulation
	url = https://github.com/fablabnk/KiCadCircuitSimulation
[submodule "ArduinoDrumMachine"]
	path = ArduinoDrumMachine
	url = https://github.com/fablabnk/ArduinoDrumMachine
[submodule "Rack42"]
	path = Rack42
	url = https://github.com/fablabnk/Rack42
[submodule "AxisFace"]
	path = AxisFace
	url = https://github.com/fablabnk/AxisFace
[submodule "3PDT_LEDTrueBypass"]
	path = 3PDT_LEDTrueBypass
	url = https://github.com/fablabnk/3PDT_LEDTrueBypass
[submodule "HagiwoHatNoise_SMT"]
	path = HagiwoHatNoise_SMT
	url = https://github.com/fablabnk/HagiwoHatNoise_SMT
[submodule "HagiwoHatNoise_THT"]
	path = HagiwoHatNoise_THT
	url = https://github.com/fablabnk/HagiwoHatNoise_THT
[submodule "HagiwoKick_THT"]
	path = HagiwoKick_THT
	url = https://github.com/fablabnk/HagiwoKick_THT
[submodule "8BitWaves"]
	path = 8BitWaves
	url = https://github.com/fablabnk/8BitWaves
