[submodule "HigawoMixer"]
	path = HigawoMixer
	url = https://github.com/fablabnk/HigawoMixer.git
[submodule "HagiwoClockMultiDivide"]
	path = HagiwoClockMultiDivide
	url = https://github.com/fablabnk/HagiwoClockMultiDivide.git
[submodule "DaisyDelayHardware"]
	path = DaisyDelayHardware
	url = https://github.com/fablabnk/DaisyDelayHardware.git
[submodule "EuroAvalanche"]
	path = EuroAvalanche
	url = https://github.com/fablabnk/EuroAvalanche.git
[submodule "EuroTubeScreamer"]
	path = EuroTubeScreamer
	url = https://github.com/fablabnk/EuroTubeScreamer.git
[submodule "VaseProtoPlugin"]
	path = VaseProtoPlugin
	url = https://github.com/fablabnk/VaseProtoPlugin.git
[submodule "vcv_daisypatch"]
	path = vcv_daisypatch
	url = https://github.com/fablabnk/vcv_daisypatch.git
[submodule "PhaserPedal"]
	path = PhaserPedal
	url = https://github.com/fablabnk/PhaserPedal
[submodule "EurorackKicadTemplates"]
	path = EurorackKicadTemplates
	url = https://github.com/fablabnk/EurorackKicadTemplates
